<!DOCTYPE html>
<html>
 <head>
     <meta charset="utf-8">
     <title>Home Page</title>
 </head>

 <body>
      <h1>Express Middleware</h1>
      <p>Maintaining express middleware functionalities</p>
 </body>
</html>